<div class="jumbotron mt-4">
    <h1 class="display-4">
        Notes App Nodejs and MongoDB
    </h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolore recusandae facere quae, incidunt fuga sunt earum ullam ut commodi! Magnam, aperiam quam unde neque sed perferendis dignissimos explicabo eligendi?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos perspiciatis numquam dicta omnis voluptatem ipsam.</p>
    <a href="https://www.google.com" class="btn btn-primary" >Google</a>
</div>