<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Account Log In
            </div>
            <img src="/images/profile.png" class="rounded-circle mx-auto d-block m-4 logo">
            <div class="card-body">
                <form action="/users/log-in" method="POST">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="example22@example.com">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        SIGN IN
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>